---
title: Olga y Enrique se casan
---

%p.title
  %a(href="/mas")
    = image_tag "capitantrueno.png"

.grid
  .grid__item.front1.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front1.png"
  .grid__item.front2.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front2.png"
  .grid__item.front3.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front3.png"

.grid
  .grid__item.front4.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front4.png"
  .grid__item.front5.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front5.png"
  .grid__item.front6.portable-one-whole>
    %a.vignette(href="/mas")
      = image_tag "front6.png"

%p
  %a.splash(href="/mas") Leer más
