---
title: Olga y Enrique se casan
---

%p.title
  = link_to "/mas" do
    = image_tag "capitantrueno.png"

.grid
  .grid__item.one-third.palm-one-whole>
    = link_to "/mas" do
      = image_tag "capitantrueno.png"
  .grid__item.one-third.palm-one-whole>
    = link_to "/mas" do
      = image_tag "capitantrueno.png"
  .grid__item.one-third.palm-one-whole>
    = link_to "/mas" do
      = image_tag "capitantrueno.png"

%p
  = link_to "Leer más", "/mas", :class => 'narrator'
